.main {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Cinzel Decorative', regular;
  background-color: #000000;
  color: #ffffff
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background: #2e353e;
  color:white;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Cinzel Decorative', regular;
}

.image {
  width: 100%;
  height: 100%;
  margin-left: 20%;
}

.image2 {
  width: 50%;
  height: 50%;
  /* margin-left: 20%; */
}

.title {
  font-size: 2rem;
  margin: 2rem 0;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.2rem;
}



.button {
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 2%;
}
@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}